<section class="description__page container d-flex flex-column justify-content-center align-items-center">
  <h2 class="description__page__title">Bienvenidos a Howarts</h2>
  <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cupiditate quos dolor architecto eius consequuntur mollitia, tenetur iure. Explicabo deleniti inventore natus architecto porro rerum ex animi at labore praesentium?</p>
  <img src="../../assets/face-harry-potter.png" alt="Harry Potter's Face" width="200" />
</section>
