:root {
	--white: #fff;
	--black: #000;

	--backgroundImgHeader: url('./assets/carousel1.png') no-repeat center;

	--colorTitle: var(--white);
	--colorNavbarText: var(--white);
}

body {
	font-family: 'Fondamento', cursive;
}
